In [1]:
import pandas as pd
import pandahouse as ph

connection = {'host': 'https://clickhouse.lab.karpov.courses',
                      'database':'simulator_20230320',
                      'user':'student', 
                      'password':'dpo_python_2020'
                     }

query = '''
select post_id, 
       countIf(action = 'view') as views, 
       countIf(action = 'like') as likes, 
       uniq(user_id) as uniq_users 
from {db}.feed_actions 
where toDate(time) = yesterday() 
group by post_id 
order by views desc 
limit 10
'''

df = ph.read_clickhouse(query, connection=connection)

In [2]:
df.head()

   post_id  views  likes  uniq_users
0     6957  23122   7669       14675
1     6956  21927   6990       14227
2     6991  20036   6267       13417
3     6992  19323   5881       13085
4     7077  18690   5645       12785